#home {
    min-height: 1000px;
    background-color: pink;
}

#home .logo img {
    width: 50%;
    margin-top: 20%;
}

#home .buttons {
    margin-top: 3%;
}

#home .buttons .button {
    margin: 0 3%;
}

#register {
    min-height: 102%;
    background-color: #b5f2dc;
}

#register .column {
    margin: 3em auto;
    max-width: 450px;
}

#login {
    min-height: 102%;
    background-color: #b5f2dc;
}

#login .column {
    margin: 3em auto;
    max-width: 450px;
}